[{:glossary/index 1
  :glossary/name "Abilities"
  :glossary/summary "Cards and faction sheets each have abilities that players can resolve to trigger various game effects."
  :glossary/related ["Action Cards" "Promissory Notes" "Strategy Card" "Technology"]
  :glossary/sections [{:section/text "Each ability describes when and how a player can resolve it."}
                      {:section/text "If a card has multiple abilities, each ability is presented as its own paragraph."}
                      {:section/text "If an ability contains the word “Action,” a player must use a component action during the action phase to resolve that ability."}
                      {:section/text "If an ability uses the word “cannot,” that effect is absolute."}
                      {:section/text "When a player resolves an ability, he must resolve the ability in its entirety. Any parts of the ability preceded by the word “may” are optional, and the player resolving the ability may choose not to resolve those parts."}
                      {:section/text "Abilities on components that remain in play are mandatory unless they use the word “may.”"}
                      {:section/text "If an ability has multiple effects separated by the word “and,” a player must resolve as many of the ability’s effects as possible. However, if he cannot resolve all of its effects, he is allowed to resolve as many as he can."}
                      {:section/text "Costs"
                       :section/subheading true}
                      {:section/text "Some abilities have a cost that is followed by an effect. The cost of an ability is separated from the effect by the word “to” or by a semicolon. A player cannot resolve the effect of such an ability if he cannot resolve that ability’s cost."}
                      {:section/text "Some examples of an ability’s cost include spending resources, spending trade goods, spending command tokens, exhausting cards, and activating specific systems."}
                      {:section/text "Timing"
                       :section/subheading true}
                      {:section/text "If the timing of an ability uses the word “after,” the ability’s effect occurs immediately after the described timing event."
                       :section/examples ["For example, if an ability is resolved “after a ship is destroyed,” the ability must be resolved as soon as the ship is destroyed and not later during that turn or round."]}
                      {:section/text "If the timing of an ability uses the word “when,” the ability’s effect occurs at the moment of the described timing event."
                       :section/examples ["Such an ability typically modifies or replaces the timing event in some way."]}
                      {:section/text "Effects that occur “when” an event happens take priority over effects that occur “after” an event happens."}
                      {:section/text "If an ability uses the word “then,” a player must resolve the effect that occurs before the word “then” before resolving the effect that occurs after the word “then.”"}
                      {:section/text "Each ability can be resolved once for each occurrence of that ability’s timing event. For example, if an ability is resolved “At the start of combat,” it can be resolved at the start of each combat."}
                      {:section/text "Component-Specific Rules"
                       :section/subheading true}
                      {:section/text "The opening paragraph of each ability found on an action card describes when a player can resolve that card’s ability."
                       :section/examples ["Some promissory notes have abilities that trigger as soon as a player receives the card."]}
                      {:section/text "The opening paragraph of most abilities found on promissory notes describes when a player can resolve that card’s ability."}
                      {:section/text "Abilities on agenda cards correspond to an outcome. Players resolve these abilities during the agenda phase after players vote for a particular outcome."}
                      {:section/text "Each faction has faction abilities presented on its faction sheet. Each faction’s flagship has one or more unique abilities. Some abilities provide players with perpetual effects."}
                      {:section/text "Some units have unit abilities. These abilities are named and presented above a unit’s attributes on a player’s faction sheet or on a unit upgrade card. Each unit ability has unique rules for when a player can resolve that ability. The following abilities are unit abilities:"
                       :section/examples ["Anti-Fighter Barrage " "Production" "Bombardment " "Space Cannon" "Planetary Shield " "Sustain Damage"]}
                      {:section/text "If a unit’s ability uses the phrase “this system” or “this planet,” the ability is referring to the system or planet that contains that unit."}]}
 {:glossary/index 2
  :glossary/name "Action Cards"
  :glossary/summary "Action cards provide players with various abilities that they can resolve as described on the cards."
  :glossary/related ["Abilities" "Component Action" "Politics" "Status Phase"]
  :glossary/sections [{:section/text "Each player draws one action card during each status phase."}
                      {:section/text "Players can draw action cards by resolving the primary and secondary abilities of the “Politics” strategy card."}
                      {:section/text "When a player draws an action card, he takes the top card from the action card deck and adds it to his hand of action cards."}
                      {:section/text "Each player can have a maximum of seven action cards in his hand at any time. If a player ever has more than seven action cards, he must choose which seven cards he wishes to keep and discard the rest."
                       :section/examples ["A game effect can increase or decrease the number of cards a player can have in his hand."]}
                      {:section/text "A player’s action cards remain hidden from other players until they are played."}
                      {:section/text "The first paragraph of each action card is presented in bold text and describes the timing of when that card’s ability can be resolved."
                       :section/examples ["If an action card contains the word “Action,” a player must use a component action during the action phase to resolve the ability. A player cannot resolve a component action if he cannot completely resolve its ability."
                                          "Multiple action cards with the same name cannot be played during a single timing window to affect the same units or game mechanic."]}
                      {:section/text "To play an action card, a player reads and resolves the card’s ability text. Then, he discards the card, placing it in the action discard pile."}
                      {:section/text "If an action card is canceled, that card has no effect and is discarded."}
                      {:section/text "If there are multiple action cards that players wish to resolve at the same time during the strategy or agenda phases, players take turns resolving action cards starting with the speaker and proceeding clockwise. This process repeats until each player has resolved all the action cards that he wishes to resolve during that window."}
                      {:section/text "If there are multiple action cards that players wish to resolve at the same time during the action phase, each player takes a turn resolving one action card in initiative order, beginning with the active player. This process repeats until each player has resolved all the action cards that he wishes to resolve during that window."}]}
 {:glossary/index 3
  :glossary/name "Action Phase"
  :glossary/summary "During the action phase, each player takes a turn in initiative order. During a player’s turn, he performs a single action. After each player has taken a turn, player turns begin again in initiative order. This process continues until all players have passed."
  :glossary/related ["Component Action" "Game Round" "Status Phase" "Strategic Action" "Tactical Action"]
  :glossary/sections [{:section/text "During a player’s turn, he may perform one of the following three types of actions: a strategic action, a tactical action, or a component action."}
                      {:section/text "If a player cannot perform an action, he must pass."}
                      {:section/text "After a player has passed, he cannot perform additional actions during that action phase."
                       :section/examples ["A player can still resolve transactions and “at the start of your turn” abilities on the turn that he passes only."
                                          "A player that has passed can still resolve the secondary ability of other players’ strategy cards."
                                          "It is possible for a player to perform multiple, consecutive actions during an action phase if all other players have passed during that action phase."]}
                      {:section/text "A player cannot pass until he has performed a strategic action."
                       :section/examples ["During a three-player or four-player game, a player cannot pass until he has exhausted both of his strategy cards."]}
                      {:section/text "After all players have passed, play proceeds to the status phase."}]}
 {:glossary/index 4
  :glossary/name "Active Player"
  :glossary/summary "The active player is the player taking a turn during the action phase."
  :glossary/related ["Action Phase" "Initiative Order"]
  :glossary/sections [{:section/text "During the action phase, the player who is first in initiative order is the first active player."}
                      {:section/text "After the active player takes a turn, the next player in initiative order becomes the active player."}
                      {:section/text "After the last player in initiative order takes a turn, the player who is first in initiative order becomes the active player again, and turns begin again in initiative order, ignoring any players who have already passed."}]}
 {:glossary/index 5
  :glossary/name "Active System"
  :glossary/summary "The active system is the system that is activated during a tactical action."
  :glossary/related ["Movement" "Tactical Action"]
  :glossary/sections [{:section/text "When a player performs a tactical action, he activates a system by placing a command token from his tactic pool on that system. That system is the active system."}
                      {:section/text "A player cannot activate a system that already contains one of his command tokens."}
                      {:section/text "A player can activate a system that contains command tokens that match other players’ factions."}
                      {:section/text "A system remains the active system for the duration of the tactical action during which it was activated."}]}
 {:glossary/index 6
  :glossary/name "Adjacency"
  :glossary/summary "Two system tiles are adjacent to each other if any of the tiles’ edges are touching each another."
  :glossary/related ["Movement" "Neighbors" "Wormholes"]
  :glossary/sections [{:section/text "A system that has a wormhole is treated as being adjacent to a system that has a matching wormhole."}
                      {:section/text "A unit or planet is adjacent to all system tiles that are adjacent to the system tile that contains that unit or planet."
                       :section/examples ["A system is not adjacent to itself."]}
                      {:section/text "A planet counts as being adjacent to the system that contains that planet."}]}
 {:glossary/index 0
  :glossary/name "Agenda Card"
  :glossary/summary "Agenda cards represent galactic laws and policies. During each agenda phase, players cast votes for specific outcomes on two agenda cards."
  :glossary/related ["Agenda Phase" "Attach" "Victory Points"]
  :glossary/sections [{:section/text "There are two types of agenda cards: laws and directives."}
                      {:section/text "Laws can permanently change the rules of the game."}
                      {:section/text "When resolving a law, if a “For” outcome received the most votes, or if the law requires an election, the law’s ability becomes a permanent part of the game. Players resolve the outcome and place the agenda card either in the common play area or in a player’s play area, as dictated by the card."}
                      {:section/text "If a law is in a player’s play area as opposed to the common play area, that player owns that law."}
                      {:section/text "If a law is discarded from play, that law’s ability is no longer in effect. Place that card on the top of the agenda card discard pile."}
                      {:section/text "If an “Against” outcome of a law received the most votes, players resolve the outcome and discard the agenda."}
                      {:section/text "Directives provide one-time game effects."}
                      {:section/text "When resolving a directive, players resolve the outcome that received the most votes and discard the agenda card."}]}
 {:glossary/index 0
  :glossary/name ""
  :glossary/summary ""
  :glossary/related []
  :glossary/sections []}]


