{:deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/tools.deps.alpha {:mvn/version "0.8.695"}

        com.rpl/specter {:mvn/version "1.1.4"}
        datascript/datascript {:mvn/version "1.4.2"}

        deck/timer {:local/root "components/timer"}}

 :polylith {:vcs "git"
            :top-namespace "deadeye.joe"
            :interface-ns "interface"
            :default-profile-name "default"
            :compact-views #{}
            :release-tag-pattern "v[0-9]*"
            :stable-tag-pattern "stable-*"
            :project-to-alias {"development" "dev"
                               "command-line" "cl"
                               "imperium" "imp"}
            :ns-to-lib {}}

 :aliases  {:joe {:main-opts ["-i" "development/src/dev/joe.clj" "-e" "(in-ns,'dev.joe)" "-r"]}
            :dev {:extra-paths ["development/src"
                                "components/interceptor"
                                "components/random"
                                "components/re-frame"]
                  :extra-deps {djblue/portal {:mvn/version "0.12.0"}}}
            :test {}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polyfy/polylith
                                {:git/url   "https://github.com/polyfy/polylith"
                                 :sha       "c4c94908be46514cbb4efcca1642d98be28618ee"
                                 :deps/root "projects/poly"}}}}}
