;; shadow-cljs configuration
{:dev-http {8000 "public"}
 :builds
 {:app
  {:target :browser
   :output-dir "public/assets/app/js"
   :asset-path "assets/app/js"
   :modules {:shared {:entries []}
             :main {:init-fn conclave.app/init
                    :depends-on #{:shared}}
             :worker {:init-fn conclave.worker/main
                      :depends-on #{:shared}
                      :web-worker true}}
;;    :devtools {:preloads [day8.re-frame-10x.preload]}
;;    :dev {:compiler-options
;;          {:closure-defines
;;           {"re_frame.trace.trace_enabled_QMARK_" true
;;            "goog.DEBUG" false}}}
   :release {:output-dir "release"
             :asset-path "/"}}
  :test
  {:target :node-test
   :output-to "target/node-test"
   :autorun true}}}
